[Desktop Entry]
Name=Glipboard TUI
Comment=Terminal UI for Glipboard
Exec=/usr/bin/glipboard --tui=true
Icon=glipboard
Terminal=true
Type=Application
Categories=Utility;
StartupNotify=false
